---
import "../global.css";

import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Objetivo from '../components/Objetivo.astro';
import ProximosConcursos from '../components/ProximosConcursos.astro';
import Formulario from '../components/Formulario.astro';
import Concursos from '../components/Concursos.astro';
import Premiacion from '../components/Premiacion.astro';
import ActividadesMatematicas from "../components/ActividadesMatematicas.astro";
import Comite from '../components/Comite.astro';
import Kahoot from '../components/Kahoot.astro';
import Footer from '../components/Footer.astro'
import { RelojMatematicas } from '../components/RelojMatematicas';
import Welcome from "../components/Welcome.astro";
---

<Layout title="Kahoot">


 <main class="w-full">
   <Hero/>
   <Objetivo/>
  <ProximosConcursos/>
  <Formulario/>
  <ActividadesMatematicas/>
  <Comite/>
  <Footer/>


  <script>
    window.asignarInscripcion = function (tipo) {
     document.getElementById('formulario')?.scrollIntoView({
      behavior: 'smooth'
     })
     
     document.getElementById('texto-participacion').innerText = tipo==1 ? "QUIERO VENDER" : "QUIERO PROPONER";
     document.getElementById('selectParticipacion').selectedIndex = tipo==1?0:1;
    }
  </script>  

  <script>
    import ScrollOut from "scroll-out";

ScrollOut({
  /* options */
});


  </script>

 </main>




</Layout>