---

var posters = [
               {
                "url":"/DM-2020.png",
                "anio":"2020"
               },
               {
                "url":"/DM-2021.png",
                "anio":"2021"
               },
               {
                "url":"/DM-2022.png",
                "anio":"2022"
               },
               {
                "url":"/DM-2023.png",
                "anio":"2023"
               },
               {
                "url":"/DM-2024.png",
                "anio":"2024"
               }


]

---

<section class="sm:hidden relative overflow-x-hidden flex flex-col min-h-screen justify-center items-center py-0 bg-[#98C1E5] font-syne">
   <div class="absolute top-0 grid-concursos w-full h-full opacity-30"></div>
    <h2 data-scroll class="z-10 w-9/12 sm:w-9/12 3xl:w-8/12 bg-white py-4 mb-5 3xl:mb-10 text-[#1519D8] text-center text-lg  sm:text-3xl font-extrabold rounded-xl">
     DÍA DE LAS MATEMATICAS ANTERIORES
    </h2>

    <article data-scroll class="swiper6 w-7/12 xl:w-[72%] sm:h-[69vh] 3xl:h-[49vh] mt-10 rounded-xl">
      <div class="swiper-wrapper ">
    
      {
       posters.map( (poster, indice) => (
       <article id="slide1" class="swiper-slide bg-[#1618DF] rounded-3xl">
        <div class="w-full flex flex-col  h-full rounded-xl">
         <img src={poster.url}/>
         <div class="flex justify-center items-center h-full py-3">
          <h3 class="text-center text-white text-lg font-extrabold proportional-nums lining-nums">{poster.anio}</h3>
         </div>
        </div>
       </article>
       )
       )
      } 

      </div>


      <div class="swiper-pagination"></div>
    </article>
  




  </section>


  <script>
   import Swiper from 'swiper';
   import 'swiper/css';
   import 'swiper/css/navigation'
   import 'swiper/css/pagination'
   import 'swiper/css/effect-flip'

   
   import { Autoplay, Navigation, Pagination } from 'swiper/modules';

   const swiper2 = new Swiper('.swiper6', {
    spaceBetween:40,
    loop:true,
    autoplay:{
     delay: 3000,
    },
    grabCursor: true,
    slidesPerView: 1,
    slidesPerGroup:1,
    modules:[Autoplay , Navigation, Pagination],

    pagination: {
     el: ".swiper-pagination",
     clickable:true
    }

   })




  
  </script>
