

<section style="background-image: url('formulas-comite.png'); background-size: contain;"  class=" overflow-x-hidden relative flex flex-col gap-12 pt-24 pb-32 justify-center items-center min-h-screen bg-[#170768] font-syne">
   <div class="absolute top-0 grid-comite w-full h-full opacity-30"></div>
   <h2 data-scroll  class="z-10 w-11/12 sm:w-9/12 bg-[#00FFFF] py-4 text-[#1E1357] text-center text-2xl sm:text-4xl lg:text-3xl 3xl:text-4xl font-extrabold rounded-xl">COMITÉ ORGANIZADOR</h2>

   <article class="z-10 flex flex-col gap-8 text-white font-bold ">
    <h3 class="text-white text-center text-2xl sm:text-4xl lg:text-3xl 3xl:text-4xl font-bold">PROFESORES</h3>

    <section id="profesores" data-scroll class="grid grid-cols-2 lg:grid-cols-4 place-items-center gap-7 sm:gap-8 text-center text-sm sm:text-xl lg:text-base 3xl:text-lg">

     <article class="flex flex-col gap-5 justify-center items-center translate-x-5 sm:translate-x-0">
      <img src="Armando.jpg" class="w-10/12 sm:w-[23vh] h-[160px] sm:h-[23vh] object-cover rounded-[10px]"/>
      <p class="w-10/12 lg:w-[26vh] xl:w-[23vh]">Dr. Armando Espíndola Pozos</p>
     </article>

     <article class="flex flex-col gap-5 justify-center items-center -translate-x-5 sm:-translate-x-0">
      <img src="Olivia.jpg" class="w-10/12 sm:w-[23vh] h-[160px] sm:h-[23vh] object-cover rounded-[10px]"/>
      <p class="w-10/12 lg:w-[26vh] xlw-[23vh] 3xl:w-[22vh]">M.C. Olivia Romero Tehuitzil</p>
     </article>

     <article class="flex flex-col gap-5 justify-center items-center translate-x-5 sm:translate-x-0">
      <img src="Leyva.jpg" class="w-10/12 sm:w-[23vh] h-[160px] sm:h-[23vh] object-cover rounded-[10px] "/>
      <p class="w-11/12 lg:w-[28vh] xl:w-[24vh]">Dr. Juan Francisco Leyva Bonilla</p>
     </article>

     <article class="flex flex-col gap-5 justify-center items-center -translate-x-5 sm:-translate-x-0">
      <img src="Fabricio.jpg" class="w-10/12 sm:w-[23vh] h-[160px] sm:h-[23vh] object-cover rounded-[10px]"/>
      <p class="w-11/12 lg:w-[28vh] xl:w-[24vh]">Dr. Fabricio Otoniel Pérez Pérez</p>
     </article>


    </section>

   </article>

   <article class="z-10 flex flex-col gap-8  text-white font-bold">
    <h3 class="text-white text-center text-2xl sm:text-4xl lg:text-3xl 3xl:text-3xl font-bold">ALUMNOS</h3>
    <section id="alumnos" data-scroll class="grid grid-cols-2 lg:grid-cols-3 gap-y-16 gap-8 text-center text-sm sm:text-xl lg:text-base 3xl:text-lg">

      <article class="flex flex-col gap-5 justify-center items-center translate-x-5 sm:translate-x-0">
        <img src="Miguel.jpg" class="w-10/12 sm:w-[23vh] h-[160px] sm:h-[23vh] object-cover rounded-[10px]"/>
        <p class="w-10/12 lg:w-[26vh] xl:w-[23vh]">Miguel Angel Barranco Ortega</p>
       </article>

       <article class="flex flex-col gap-5 justify-center items-center -translate-x-5 sm:-translate-x-0">
        <img src="Monica.jpg" class="w-10/12 sm:w-[23vh] h-[160px] sm:h-[23vh] object-cover rounded-[10px]"/>
        <p class="w-10/12 sm:w-9/12 lg:w-[26vh] xl:w-[23vh]">Mónica Jazmín Tapia Zárate</p>
       </article>

       <article class="flex flex-col gap-5 justify-center items-center translate-x-5 sm:translate-x-0">
        <img src="Wendy.jpg" class="w-10/12 sm:w-[23vh] h-[160px] sm:h-[23vh] object-cover rounded-[10px]"/>
        <p class="w-10/12 lg:w-[26vh] xl:w-[23vh]">Wendy Alejandra Escamilla Blanca</p>
       </article>

       <article class="flex flex-col gap-5 justify-center items-center -translate-x-5 sm:-translate-x-0">
        <img src="Demian.jpg" class="w-10/12 sm:w-[23vh] h-[160px] sm:h-[23vh] object-cover rounded-[10px]"/>
        <p class="w-10/12 sm:w-8/12 lg:w-[28vh] xl:w-[23vh]">Demian Matamoros Pérez</p>
       </article>

       <article class="flex flex-col gap-5 justify-center items-center translate-x-5 sm:translate-x-0">
        <img src="Jose.jpg" class="w-10/12 sm:w-[23vh] h-[160px] sm:h-[23vh] object-cover rounded-[10px]"/>
        <p class="w-10/12 lg:w-[28vh] xl:w-[23vh]">José Manual De Marcos Rojas</p>
       </article>

       <article class="flex flex-col gap-5 justify-center items-center -translate-x-5 sm:-translate-x-0">
        <img src="Fabrizio.jpg" class="w-10/12 sm:w-[23vh] h-[160px] sm:h-[23vh] object-cover rounded-[10px]"/>
        <p class="w-10/12 sm:w-8/12 lg:w-[23vh]">Frabrizio Herrera Lemus</p>
       </article>

    

    </section>
   </article>

  </section>
