
 <footer class="flex flex-col sm:flex-row gap-6 min-h-[30vh] justify-center items-center bg-black text-[#00FFFF] text-xl sm:text-2xl 3xl:text-3xl font-medium font-syne">

  <a data-scroll href="https://www.instagram.com/cubo_lobos_fcc/?utm_source=qr#">
   <svg class="sm:w-[46px] 3xl:w-[60px] sm:h-[46px] 3xl:h-[60px]" width="46" height="47" viewBox="0 0 46 47" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="46" height="47" rx="23" fill="#00FFFF"/>
    <path d="M18.8 13.5H27.2C30.4 13.5 33 16.1 33 19.3V27.7C33 29.2383 32.3889 30.7135 31.3012 31.8012C30.2135 32.8889 28.7383 33.5 27.2 33.5H18.8C15.6 33.5 13 30.9 13 27.7V19.3C13 17.7617 13.6111 16.2865 14.6988 15.1988C15.7865 14.1111 17.2617 13.5 18.8 13.5ZM18.6 15.5C17.6452 15.5 16.7295 15.8793 16.0544 16.5544C15.3793 17.2295 15 18.1452 15 19.1V27.9C15 29.89 16.61 31.5 18.6 31.5H27.4C28.3548 31.5 29.2705 31.1207 29.9456 30.4456C30.6207 29.7705 31 28.8548 31 27.9V19.1C31 17.11 29.39 15.5 27.4 15.5H18.6ZM28.25 17C28.5815 17 28.8995 17.1317 29.1339 17.3661C29.3683 17.6005 29.5 17.9185 29.5 18.25C29.5 18.5815 29.3683 18.8995 29.1339 19.1339C28.8995 19.3683 28.5815 19.5 28.25 19.5C27.9185 19.5 27.6005 19.3683 27.3661 19.1339C27.1317 18.8995 27 18.5815 27 18.25C27 17.9185 27.1317 17.6005 27.3661 17.3661C27.6005 17.1317 27.9185 17 28.25 17ZM23 18.5C24.3261 18.5 25.5979 19.0268 26.5355 19.9645C27.4732 20.9021 28 22.1739 28 23.5C28 24.8261 27.4732 26.0979 26.5355 27.0355C25.5979 27.9732 24.3261 28.5 23 28.5C21.6739 28.5 20.4021 27.9732 19.4645 27.0355C18.5268 26.0979 18 24.8261 18 23.5C18 22.1739 18.5268 20.9021 19.4645 19.9645C20.4021 19.0268 21.6739 18.5 23 18.5ZM23 20.5C22.2044 20.5 21.4413 20.8161 20.8787 21.3787C20.3161 21.9413 20 22.7044 20 23.5C20 24.2956 20.3161 25.0587 20.8787 25.6213C21.4413 26.1839 22.2044 26.5 23 26.5C23.7956 26.5 24.5587 26.1839 25.1213 25.6213C25.6839 25.0587 26 24.2956 26 23.5C26 22.7044 25.6839 21.9413 25.1213 21.3787C24.5587 20.8161 23.7956 20.5 23 20.5Z" fill="black"/>
   </svg>
  </a>

  <div data-scroll class="flex flex-col sm:flex-row items-center sm:gap-6 sm:divide-x-2 divide-[#00FFFF]">
   <p class="lining-nums">© Concurso Kahoot 2024.</p>
   <p class="pl-6">Mas información: <a href="https://www.cs.buap.mx/" class="underline underline-offset-4"> FCC BUAP </a></p>
  </div>
 </footer>
