  <section class="overflow-x-hidden flex bg-gradient-to-t from-[#1E1357] to-[#6936EA] min-h-[70vh] text-white font-syne">
   <img id="school" data-scroll src="kahoot1.svg" class="w-1/12"/>

   <div class="flex flex-col flex-1 gap-6 3xl:gap-12 justify-center items-center text-center ">
    <h3 id="kahoot" data-scroll  class="w-11/12 text-xl sm:text-3xl 3xl:text-4xl font-extrabold">
     KAHOOT! - JUEGA Y CREA QUIZZES
    </h3>
    <p class="text-lg sm:text-[1.7rem] 3xl:text-3xl font-medium px-3 sm:px-0 sm:w-8/12 leading-6 sm:leading-9">
        ¡Descarga la aplicación Kahoot! participa en atractivos juegos con pruebas (kahoots) en la escuela, en casa y en el trabajo. ¡Crea tus propios kahoots y aprende algo nuevo!
        
    </p>

    <div class="flex justify-center items-center gap-5 sm:gap-5">
     <a id="googleplay" data-scroll href="https://play.google.com/store/apps/details?id=no.mobitroll.kahoot.android&hl=es_MX">
      <img src="googleplay.svg" class=" w-full sm:w-full"/>
     </a>

     <a id="appstore" data-scroll href="https://apps.apple.com/mx/app/kahoot-juega-y-crea-quizzes/id1131203560">
      <img src="appsstore.svg" class="w-full sm:w-full"/>
     </a>
    </div>

   </div>

   <img id="school2" data-scroll src="kahoot2.svg" class="w-1/12"/>

  </section>
