  <section id="objetivo" class="relative w-full overflow-x-hidden flex justify-center items-center gap-10 bg-gradient-to-r from-[#4313BD] to-[#1F0957]  min-h-[58vh] font-syne">
   <img id="desk2" data-scroll src="desk.svg" class=" absolute inset-0 top-10 sm:relative w-2/12 "/>

   <div data-scroll class="z-10 w-full flex flex-col gap-8 justify-center items-center">
    <h2 data-scroll class="bg-[#00FFFF] rounded-lg px-10 py-5 text-[#4313BD] text-xl sm:text-4xl 3xl:text-5xl font-extrabold">OBJETIVO</h2>


    <div class=" relative bg-white px-6 py-5 sm:py-11 rounded-lg w-10/12 sm:w-11/12 mx-auto">
      <!-- Cuadro pequeño -->
      <div class="absolute -left-7 sm:-left-6 top-1/2 transform -translate-y-1/2 bg-[#00FFFF] p-2 rounded-lg shadow-md ">

        
        <svg class="w-[30px] sm:w-[38px] h-[30px] sm:h-[38px]" width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M11.3026 38H3.89744C2.82564 38 1.90812 37.6184 1.14487 36.8551C0.381624 36.0919 0 35.1744 0 34.1026V26.6974C1.55897 26.6974 2.92308 26.2021 4.09231 25.2115C5.26154 24.2209 5.84615 22.9624 5.84615 21.4359C5.84615 19.9094 5.26154 18.6509 4.09231 17.6603C2.92308 16.6697 1.55897 16.1744 0 16.1744V8.76923C0 7.69744 0.381624 6.77991 1.14487 6.01667C1.90812 5.25342 2.82564 4.87179 3.89744 4.87179H11.6923C11.6923 3.50769 12.1632 2.3547 13.1051 1.41282C14.047 0.47094 15.2 0 16.5641 0C17.9282 0 19.0812 0.47094 20.0231 1.41282C20.965 2.3547 21.4359 3.50769 21.4359 4.87179H29.2308C30.3026 4.87179 31.2201 5.25342 31.9833 6.01667C32.7466 6.77991 33.1282 7.69744 33.1282 8.76923V16.5641C34.4923 16.5641 35.6453 17.035 36.5872 17.9769C37.5291 18.9188 38 20.0718 38 21.4359C38 22.8 37.5291 23.953 36.5872 24.8949C35.6453 25.8368 34.4923 26.3077 33.1282 26.3077V34.1026C33.1282 35.1744 32.7466 36.0919 31.9833 36.8551C31.2201 37.6184 30.3026 38 29.2308 38H21.8256C21.8256 36.3761 21.3141 34.9957 20.291 33.859C19.268 32.7222 18.0256 32.1538 16.5641 32.1538C15.1026 32.1538 13.8603 32.7222 12.8372 33.859C11.8141 34.9957 11.3026 36.3761 11.3026 38ZM3.89744 34.1026H8.03846C8.81795 31.959 10.0684 30.4487 11.7897 29.5718C13.5111 28.6949 15.1026 28.2564 16.5641 28.2564C18.0256 28.2564 19.6171 28.6949 21.3385 29.5718C23.0598 30.4487 24.3103 31.959 25.0897 34.1026H29.2308V22.4103H33.1282C33.388 22.4103 33.6154 22.3128 33.8103 22.118C34.0051 21.9231 34.1026 21.6957 34.1026 21.4359C34.1026 21.1761 34.0051 20.9487 33.8103 20.7538C33.6154 20.559 33.388 20.4615 33.1282 20.4615H29.2308V8.76923H17.5385V4.87179C17.5385 4.61197 17.441 4.38462 17.2462 4.18974C17.0513 3.99487 16.8239 3.89744 16.5641 3.89744C16.3043 3.89744 16.0769 3.99487 15.8821 4.18974C15.6872 4.38462 15.5897 4.61197 15.5897 4.87179V8.76923H3.89744V13.0564C5.65128 13.706 7.0641 14.794 8.1359 16.3205C9.20769 17.847 9.74359 19.5521 9.74359 21.4359C9.74359 23.2872 9.20769 24.9761 8.1359 26.5026C7.0641 28.0291 5.65128 29.1333 3.89744 29.8154V34.1026Z" fill="#4313BD"/>
          </svg>
          
      </div>
      
      <!-- Contenido del contenedor principal -->
      <p class="sm:mx-7 text-[#4313BD] text-justify text-lg sm:text-3xl 3xl:text-4xl font-normal leading-5 sm:leading-6 2xl:leading-8 3xl:leading-9 tracking-tight sm:tracking-normal">
        Implementar la gamificación como estrategia didáctica en el proceso de enseñanza-aprendizaje, la  cual consiste en incorporar elementos y dinámicas propias de los juegos para crear un entorno  motivador, divertido y agradable.
      </p>
    </div>
    
  
   </div>

  
   
   <img id="notebook" data-scroll src="cuaderno.svg" class="z-0 absolute right-0 bottom-3 sm:relative w-2/12"/>



  </section>
