  <section class="overflow-x-hidden relative flex h-screen justify-center items-center bg-gradient-to-tl from-[#700D75] to-[#8F32E0]">
   <div class="absolute grid-premiacion w-full h-screen opacity-30"></div>
   <img src="/formulas-premiacion.png" class="absolute w-full h-full object-contain sm:object-fill"/>

   <img id="chico" data-scroll src="chico.svg" class="z-20 absolute bottom-0 left-0 w-5/12 lg:w-4/12 2xl:w-auto"/>
   <div class="z-10 w-full flex flex-col gap-8 justify-center items-center">

   <h2 data-scroll class="w-9/12 sm:w-7/12 bg-[#4313BD] py-4 text-white text-center text-xl lg:text-xl 2xl:text-3xl 3xl:text-4xl font-extrabold rounded-xl font-syne">
    PREMIACIÓN
   </h2>


   <div id="premio" data-scroll class="relative bg-white px-6 sm:px-6 py-8 sm:py-11  rounded-lg w-9/12 sm:w-7/12 mx-auto">
    <!-- Cuadro pequeño -->
    <div class="w-[46px] sm:w-[60px] h-[46px] sm:h-[60px] absolute -left-8 top-1/2 transform -translate-y-1/2 bg-[#4313BD] p-2 rounded-lg shadow-md ">

     <p class="text-white text-center text-2xl sm:text-4xl 3xl:text-5xl font-bold font-syne proportional-nums lining-nums">1°</p>

      
        
    </div>
    
    <!-- Contenido del contenedor principal -->
    <div class="flex flex-col gap-3 sm:gap-6">
     <h3 class="sm:mx-20 text-[#4313BD] text-sm lg:text-sm 2xl:text-xl 3xl:text-2xl font-syne">PRIMER LUGAR</h3>
     <p class="sm:mx-20 text-[#4313BD] text-justify text-base lg:text-xl 2xl:text-3xl 3xl:text-4xl font-normal font-syne leading-5 sm:leading-9">

      Constancia de primer lugar y una calculadora científica Casio a cada integrante del equipo.

     </p>
    </div>
  </div>


  <div id="entrega" data-scroll class="relative bg-white px-6 py-11 rounded-lg w-9/12 sm:w-7/12 mx-auto">
    
    <!-- Contenido del contenedor principal -->
    <p class="sm:mx-20 text-[#4313BD] text-justify text-base lg:text-xl 2xl:text-3xl 3xl:text-4xl font-normal font-syne proportional-nums lining-nums leading-5 sm:leading-9">

      La premiación será al concluir el concurso, a las 13:30 horas en el auditorio Albert Einstein.


    </p>


    <!-- Cuadro pequeño -->
    <div class="absolute -right-7 sm:-right-6 top-1/2 transform -translate-y-1/2 bg-[#4313BD] p-2 rounded-lg shadow-md ">

      
      <svg class="w-[30px] sm:w-[44px] h-[32px] sm:h-[44px]" width="44" height="44" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
        <mask id="mask0_36_340" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="38" height="39">
        <rect x="3.05176e-05" y="0.000488281" width="38" height="38" fill="#D9D9D9"/>
        </mask>
        <g mask="url(#mask0_36_340)">
        <path d="M15.3188 21.692L16.7042 17.1795L13.0625 14.2503H17.575L19 9.81699L20.425 14.2503H24.9375L21.2563 17.1795L22.6417 21.692L19 18.8816L15.3188 21.692ZM9.50003 36.417V24.1857C8.49725 23.0774 7.71878 21.8107 7.16461 20.3857C6.61045 18.9607 6.33336 17.4434 6.33336 15.8337C6.33336 12.2975 7.56045 9.30241 10.0146 6.84824C12.4688 4.39408 15.4639 3.16699 19 3.16699C22.5361 3.16699 25.5313 4.39408 27.9854 6.84824C30.4396 9.30241 31.6667 12.2975 31.6667 15.8337C31.6667 17.4434 31.3896 18.9607 30.8354 20.3857C30.2813 21.8107 29.5028 23.0774 28.5 24.1857V36.417L19 33.2503L9.50003 36.417ZM19 25.3337C21.6389 25.3337 23.882 24.41 25.7292 22.5628C27.5764 20.7156 28.5 18.4725 28.5 15.8337C28.5 13.1948 27.5764 10.9517 25.7292 9.10449C23.882 7.25727 21.6389 6.33366 19 6.33366C16.3611 6.33366 14.1181 7.25727 12.2709 9.10449C10.4236 10.9517 9.50003 13.1948 9.50003 15.8337C9.50003 18.4725 10.4236 20.7156 12.2709 22.5628C14.1181 24.41 16.3611 25.3337 19 25.3337ZM12.6667 31.7066L19 30.0837L25.3334 31.7066V26.7982C24.4098 27.326 23.4136 27.7416 22.3448 28.0451C21.2761 28.3486 20.1611 28.5003 19 28.5003C17.8389 28.5003 16.724 28.3486 15.6552 28.0451C14.5865 27.7416 13.5903 27.326 12.6667 26.7982V31.7066Z" fill="white"/>
        </g>
        </svg>
                
    </div>

  </div>

  


  </div>

  <img id="casio" data-scroll src="casio.svg" class="absolute right-0 top-0 w-4/12 lg:w-3/12 2xl:w-auto"/>

  
  </section>
